.question:after {
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
    content: '';
}

.choice{
    border: 1px solid #ebebeb;
    padding: 13px;
    margin: 10px 30px;
    font-weight: 600;
    cursor: pointer;
}

.container{
    margin: 50px auto; 
    width: 50%;
}

.introduction{
    font-size: 19px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 0;
}

.quiz-image{
    display: block;
    width: 60%
}

.successbox{
    background: #387DFF;
    color: white;
}

.failbox{
    background: #ff5128;
    color: white;
}

.cantclick{
    pointer-events: none;
  }

.quiz-result{
    display: none;
    background: #F5F5F5;
}

.quiz-result-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 3px solid #287dff;
}

.quiz-false{
    display: block;
    background: #F5F5F5;
}

.quiz-false-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 3px solid #ff5128;
}


